.container {
    max-width: 900px;
    margin: auto;
}

.card {
    /* margin-top: 2rem; */
    border: none;
    border-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 2rem;
}

/* h2 {
    margin-bottom: 1rem;
} */

.chart-container-small {
    position: relative;
    height: 300px; /* Adjust the height as needed */
    width: 100%;
}
